*{
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height: 59px
}


#navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 3px 2px;
}

#logo img{
    height: 20px 20px;
    margin: 2px;
}

#navbar{
    position: relative;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    }

#home{
    display: flex;
    flex-direction: column;
    height: 299px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url("./bg2.jpg") no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home p{
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.quote-btn{
    background-color: #4cda9800; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.quote-btn {
    background-color: rgba(255, 255, 255, 0); 
    color: black; 
    border: 2px solid #ffffff;
}

.quote-btn:hover {
    background-color: #585a5a;
    color: white;
  }

.center{
    text-align: center;
}

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 25pxpx;
    margin: 10px;
    border-radius: 23px;
    background-color: whitesmoke;

}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;

}

#services .box p{
    font-family: 'Times New Roman', Times, serif;

}

#client-section{
    position: relative;
    height: 344px;

}

#client-section::before{
    content: "";
    position: absolute;
    background: url("./bg.webp");
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#client{
    display: flex;
    justify-content: center;
    align-items: center;

}

#client img{
        height: 125px;
        
}

.client-item{
    padding: 34px;
}

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.65;
    background: url("./bg3.jpeg") no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}

.submit-button1 {
    background-color: #4cdac700; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .submit-button1 {
    background-color: rgba(255, 255, 255, 0); 
    color: black; 
    border: 2px solid #4cdac7;
  }
  
  .submit-button1:hover {
    background-color: #000000;
    color: white;
  }
  

    #foote{
    background: black;
    color: white;
    padding: 9px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
